Package: enigma2-plugin-picons-jungle-movistar-color-3d
Version: 14.04.2023
Architecture: all
Section: base
Priority: optional
Maintainer: jungle-team
Description: Picon Movistar color astra 19.2 3D 440x264
