Package: enigma2-plugin-picons-jungle-movistar-lunar
Version: 18.09.2023
Architecture: all
Section: base
Priority: optional
Maintainer: jungle-team
Description: Picon Movistar astra 19.2 lunar 440x264
