Package: enigma2-plugin-picons-jungle-movistar-color
Version: 16-11-2024
Architecture: all
Section: base
Priority: optional
Maintainer: jungle-team
Description: Picon Movistar astra 19.2 color 440x264
