Package: enigma2-plugin-picons-jungle-movistar-color
Version: 13-10-2025
Architecture: all
Section: base
Priority: optional
Maintainer: jungle-team
Description: Picon Movistar astra 19.2 color 440x264
