Package: enigma2-plugin-picons-jungle-movistar-transparente
Version: 13.05.2024
Architecture: all
Section: base
Priority: optional
Maintainer: jungle-team
Description: Picon Movistar astra 19.2 mosca original 440x264
